# ==========================================
# Configurações do Assistente de IA (Ollama)
# ==========================================
# Link padrão para o Ollama local na porta 11434
OLLAMA_LOCAL_URL=http://localhost:11434

# ==========================================
# Configurações da OMDb API
# ==========================================
# Link base da API
OMDB_API_URL=http://www.omdbapi.com/
# Coloque sua chave da API abaixo (Gere em http://www.omdbapi.com/apikey.aspx)
OMDB_API_KEY=sua_chave_aqui
